aiohttp~=3.8.6
aiosignal
async-timeout
attrs
beautifulsoup4~=4.12.2
bs4~=0.0.1
charset-normalizer
colorama
emoji~=2.8.0
frozenlist
idna
loguru~=0.7.2
lxml
multidict
Pillow~=10.1.0
pyaes
Pyrogram~=2.0.106
PySocks
PyYAML~=6.0.1
soupsieve
TgCrypto
win32-setctime
yarl
edge-tts
requests~=2.31.0

pytz~=2023.3.post1